[submodule "main/shiro"]
	path = main/shiro
	url = https://github.com/shrhdk/JavaTraining.git
[submodule "main/sugimoto"]
	path = main/sugimoto
	url = https://github.com/ichihira/JavaTraining.git
[submodule "main/hasegawa"]
	path = main/hasegawa
	url = https://github.com/watagashi78/JavaTraining.git
[submodule "main/kato"]
	path = main/kato
	url = https://github.com/mikan/JavaTrainingCourse.git
[submodule "main/aruga"]
	path = main/aruga
	url = https://github.com/akeboshi/JPL4.git
[submodule "main/hatanaka"]
	path = main/hatanaka
	url = https://github.com/zDpxq6/JPL2013
[submodule "main/nakamura"]
	path = main/nakamura
	url = https://github.com/YN111/Java2013.git
