<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>List of Progress</title>
        <% if(CSS != null) print "<style>$CSS</style>" %>
        <style>
            span.emoji {
                width: 1.5em;
                height: 1.5em;
                display: inline-block;
                background-repeat: no-repeat;
                background-size: contain;
            }
        </style>
        <style>
            span.coffee {
                background-image: url("${EMOJI['coffee']}");
            }
            span.coffee-bean {
                background-image: url("${EMOJI['coffee-bean']}");
            }
        </style>
    </head>
    <body>
        <%
            def passed = '<span title="passed" class="emoji coffee" />'
            def ok = '<span title="ok" class="emoji coffee-bean" />'
            def ng = ''
        %>
        <h1>List of Progress</h1>

        <h2>Summary</h2>

        <table>
            <% TRAINEES.each { name -> %>
            <tr><th>${name}${0.9 <= SUMMARY[name] ? ' ' + passed : ''}</th><td><progress value="${SUMMARY[name]}" /></td><td>${(int)(SUMMARY[name] * 100)}%</td></tr>
            <% } // name %>
        </table>

        <h2>JPL</h2>

        <% JPL_EX.each { ch, exercises -> %>

        <h3>Chapter ${ch}</h3>

        <% if(exercises.size() == 0) { print 'No Exercise'; return }  %>

        <table>
            <tr><th></th><% exercises.each { ex -> print "<th>$ex</th>" } %></tr>
            <% TRAINEES.each { name -> %>
            <tr><th>${name}</th><% exercises.each { ex -> print "<td>${JPL_LIST[name][ch][ex] ? ok : ng}</td>" } %></tr>
            <% } // name %>
        </table>

        <% } // ch, exercises %>

        <h2>GUI</h2>

        <table>
            <tr><th></th><% GUI_EX.each { ch, exercises -> exercises.each { ex -> print "<th>$ch-$ex</th>" } } %></tr>
            <% TRAINEES.each { name -> %>
            <tr><th>${name}</th><% GUI_EX.each { ch, exercises -> exercises.each { ex -> print "<td>${GUI_LIST[name][ch][ex] ? ok : ng}</td>" } } %></tr>
            <% } // name %>
        </table>

        <h2>Interpret</h2>

        <table>
            <% TRAINEES.each { name -> %>
            <tr><th>${name}</th><td>${INTERPRET_LIST[name] ? ok : ng}</td></tr>
            <% } // name %>
        </table>
    </body>
</html>
